<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add telecast</title>
</head>
<body>
    <h3>Add telecast</h3>
    <div class="container mt-5">
      <form action="/add" method="post">
        <input type="text" name="name" class="form-control" placeholder="name"><br>
        <input type="text" name="chanel" class="form-control" placeholder="chanel"><br>
        <input type="datetime-local" name="startDateTime" class="form-control" placeholder="start date and time"><br>
        <textarea name="description" class="form-control" placeholder="description"></textarea><br>
        <button type="submit" class="button button-success">Add</button>
      </form>
    </div>
</body>
</html>